[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-webpack-loader = "*"
django = "<3.2"
mysqlclient = "*"
naked = "*"
js2py = "*"
sphinx = "*"
django-extensions = "*"
graphviz = "*"
pygraphviz = "*"
pydot = "*"
pydot-ng = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.8"
