@import "variables.scss";

/*
This file contains styling for all the vue components that contain questions
*/

/* ------------------
Table of contents
1. CollapsableQuestionPreview
2. QuestionPreview
3. Question
4. SeenQuestion
------------------ */

/* ------------------
1. CollapsableQuestionPreview
------------------ */
.preview-box {
    height: 300px;
    background: linear-gradient(to top, rgb(228, 228, 228) 21%, white 10%); //!
}

.preview-text {
    height: 200px;
    word-break: break-all;
    overflow-y: hidden;
    position: relative;
}

.preview-text-fade {
    background-image: linear-gradient(to bottom, transparent, white);
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 30px 0;
}

.hidden {
    height: 0;
    opacity: 0;
    margin: 0;
    position: fixed;
    bottom: -1000px;
}

.answer-paragraph-full:nth-of-type(2),
.answer-paragraph-preview:first-of-type {
    padding-top: 1.2rem;
    position: relative;
}

.answer-paragraph-full:nth-of-type(2):before,
.answer-paragraph-preview:first-of-type:before {
    content: "";
    border-top: 1px solid rgb(211, 211, 211);
    box-shadow: 0 0 3px rgba(114, 114, 114, 0.2); //!
    position: absolute;
    top: 0;
    width: 100%;
}

/* ------------------
2. QuestionPreview
------------------ */
.question-preview-box {
    border: none;
    border-radius: 0.8rem;
    padding: 1rem 2.5rem;
    box-shadow: 0px 0px 3px 0px rgba(19, 19, 19, 0.8); //!
}

.comment {
    margin-left: 50px;
}

/* ------------------
3. Question
------------------ */
.question-wrapper {
    padding: 2rem 0;
}

.question-box {
    border: 1px solid grey;
    border-radius: 3px;
    width: fit-content;
    padding: 15px;
    overflow-x: auto;
}

.answer:hover {
    cursor: pointer;
    background-color: rgba(194, 194, 194, 0.2); //!
    border-radius: 5px;
    transition: 0.1s ease;
}

.answer {
    width: 90%;
    transition: 0.1s ease;
}

.answer-list {
    padding: 0.5rem 1rem;
}

.answer-list li {
    padding: 0.2rem 0;
}

/* ------------------
4. SeenQuestion
------------------ */
.seen-question-box {
    border: none;
    margin: 2rem;
    border-radius: 0.8rem;
    padding: 1rem 2.5rem;
    box-shadow: 0px 0px 3px 0px rgba(19, 19, 19, 0.8); //!
}