/* ------------------
Table of contents
0. imports
1. global styles
2. layout
3. typography
4. buttons
5. component styles
6. vue animation classes
------------------ */

/* ------------------
0. imports
------------------ */
@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap');

/* ------------------
1. global styles
------------------ */
html,
body {
    /*
    font-family: 'Open Sans', sans-serif !important;
    font-family: 'Quicksand', sans-serif !important;
    */
    font-family: 'Oxygen', sans-serif !important;
}

.bg-danger {
    background: $danger !important;
}


/* ------------------
2. layout
------------------ */
#page_wrapper {
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}

// iPhone 6, 7, 8 portrait
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #page_wrapper {
        width: 90%;
    }
}

.question-box {
    border: none;
    border-radius: 0.8rem;
    padding: 1rem 2.5rem;
    box-shadow: 0px 0px 5px 0px rgba(49, 49, 49, 0.5); //!
}

.w-90 {
    width: 90% !important;
}


/* ------------------
3. typography
------------------ */
h1,
h3 {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 2rem;
}


.title-muted {
    opacity: 0.7;
    font-size: .9rem;
}

.form-error-text,
.errorlist {
    color: $red !important;
}

.correct {
    color: $green !important;
    text-shadow: 0 0 1px $green;
}

.incorrect {
    color: $red !important;
    text-shadow: 0 0 1px $red;
    opacity: 0.4;
}

.navbar-item {
    transition: all .5s linear;
}

.nav-item:hover {
    transform: perspective(200px) translateZ(5px);
}


.navbar-user {
    color: white;
}

.user-link {
    color: white;
    display: inline;
    padding: 0 0 0 2px !important;
}

.user-link:hover {
    color: #DCDCDC; //!
}

.dashboard-icon {
    color: #bababa; //!
}


/* ------------------
4. buttons
------------------ */
button:disabled:hover,
button[disabled] {
    cursor: not-allowed;
}

.btn-sm {
    border: none;
}

.btn-rounded {
    border-radius: .5rem;
    box-shadow: none !important;
}

.btn-success {
    background-color: $green;
    border-color: $green;
}

.btn-outline-success {
    color: $green;
    border-color: $green;
}

.btn-outline-success:hover {
    background-color: $green;
    border-color: $green;
}

.btn-outline-danger {
    color: $red;
    border-color: $red;
}

.btn-outline-danger:hover {
    background-color: $red;
    border-color: $red;
}

.btn-danger {
    background-color: $red;
    border-color: $red;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
}

.btn-outline-primary {
    color: $primary;
    border-color: $primary;
}

.btn-outline-secondary {
    color: $secondary;
    border-color: $secondary;
}

.btn-outline-primary:hover {
    background-color: $primary;
    border-color: $primary;
}

.btn-outline-secondary:hover {
    background-color: $secondary;
    border-color: $secondary;
}

.small-button {
    padding: 0rem 1rem;
}

.dashboard-btn {
    border-radius: 1rem;
    padding: 1rem !important;
    box-shadow: 0 0 4px rgba(71, 71, 71, 0.55); //!
    transition: all .1s linear;
    width: 90%;
    margin-bottom: 1rem;
}

.dashboard-btn:hover {
    transform: perspective(200px) translateZ(1.5px);
    background-color: $darker;
    box-shadow: 0 0 8px rgba(71, 71, 71, 0.75); //!
}



/* ------------------
5. component styles
------------------ */
.form-error {
    border: 1.5px solid $red !important;
    background-color: $danger !important;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, .75) !important; //!
}

.inline-icon {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.shadow-sm-c {
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, .65) !important; //!
}

.no-border {
    border: none;
}

.no-border .card-body {
    margin-top: -0.5rem;
    padding: 0;
}

.overlay-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0 0 15px gray; //!
    border: none !important;
    border-radius: 0.3rem !important;
    width: 30%;
}

// iPhone 6, 7, 8 portrait
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .overlay-card {
        width: 90%;
    }
}

.question-filter-grid {
    background: $secondary;
    color: white;
    border-radius: 3rem;
    padding: .5rem 1.5rem;
}

.transparent-card {
    background-color: transparent !important;
}

.list-wrapper {
    padding-bottom: 10px;
}

.progress-border {
    height: 22px;
    width: 47%;
    border: 1px solid $gray;
    position: relative;
    border-radius: .2rem;
}

.progress-amount {
    background: $green;
    height: 20px;
}

// text that is displayed inside of progress bar
// ? rename
.average-text {
    position: absolute;
    top: 0;
    font-size: .8rem;
    padding: 2px;
    text-align: center;
}


/* ------------------
6. vue animation classes
------------------ */
.slide-fade-enter-active {
    transition: all .2s linear;
    transition-delay: .3s;
}

.slide-fade-leave-active {
    transition: all .2s linear;
}

.slide-fade-enter {
    transform: translateX(-200px);
    opacity: 0;
}

.slide-fade-enter-to {
    transform: translateX(0);
    opacity: 1;
}

.slide-fade-leave-to {
    transform: translateX(200px);
    opacity: 0;
}

.overlay-text-leave-active,
.overlay-text-enter-active {
    transition: all .4s ease;
}


.overlay-text-leave-to,
.overlay-text-enter {
    opacity: 0;
}

// TODO hide scrollbar during transitions
// *:has(.slide-fade-enter-active),
// *:has(.slide-fade-leave-active),
// *:has(.slide-fade-enter-to),
// *:has(.slide-fade-leave-to),
// *:has(.slide-fade-enter) {
//     overflow-y: hidden !important;
// }