$red: rgb(190, 0, 0);
$green: rgb(0, 110, 9);
$primary: rgb(0, 95, 236);
$secondary: rgb(75, 75, 75);
$danger: rgba(190, 79, 79, 0.35);
$darker: #31363a;
$light: rgb(232, 240, 254);
$gray: rgb(165, 165, 165);

$background: white;

$box-shadow-as-border: 0 0 5px $gray;

$serif-font: 'PT Serif Caption',
serif;