{% extends 'elearningapp/base.html' %}
{% block title %}Pannello di controllo di {{ course.name }}{% endblock title %}
{% block header_title %} eLearning <span class="title-muted">Control Panel</span>{% endblock header_title %}
{% block content %}
    {% load render_bundle from webpack_loader %}
    <div id="app">
        <course-cp
        :course-name="'{{ course.name }}'"
        :course-id="{{ course.id }}"
        :average-score=" {{ average_score }}"
        :number-of-subscribers="{{ number_of_subscribers }}"
        :number-of-tests-taken="{{ number_of_tests_taken }}"
        :hardest-questions="{{ hardest_questions }}"
        :last-actions="{{ last_actions }}"
        :api-users-url="'{% url 'get_course_users' course_id=course.id %}'"
        :update-permission-api-url="'{% url 'update_course_permissions' course_id=course.id %}'"
        :admin="{{ admin }}"
        :my-permissions="{{ my_permissions }}"
        :user-id="{{ user_id }}"
        :reports="{{ reports }}"
        :add-questions-api-url="'{% url 'add_question' course_id=course.id %}'"
        :edit-questions-api-url="'{% url 'edit_question' course_id=course.id %}'"
        :update-report-api-url="'{% url 'report_question' %}'"
        ></course-cp>
    </div>
    
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'vue_app_course_cp' %}

{% endblock content %}

{% block footer_javascript_section %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
{% endblock footer_javascript_section %}