{% extends 'elearningapp/base.html' %}
{% block title %}Homepage di {{ course_data.name}}{% endblock title %}
{% block head_css_page %}
    <style>
        #course_title {
            text-align: center;
        }
    </style>
{% endblock head_css_page %}
{% block navbarlinks %}
    {% if course_specific_user_data.access_to_cp %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'course_cp' course_id=course_data.id%}">Pannello di controllo</a>
        </li>
    {% else %}
    {% block hamburger-menu %}
    {% if course_specific_user_data.access_to_cp %}
    <span style="vertical-align: middle">
        <button style="border: none; margin-bottom: 4.5px" class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""><i class="fas fa-bars text-white"></i></span>
        </button>
    </span>
    {% endif %}
    {% endblock hamburger-menu %}

    {% endif %}
{% endblock navbarlinks %}
    {% block usernavbar %}
        <!-- <a class="nav-link user-link" href="/profile/{{ global_user_data.id}}">{{ global_user_data.name }}</a> -->
    {% endblock usernavbar %}
{% block content %}
    {% load render_bundle from webpack_loader %}
    <div id="app">
        <course-dashboard
        :course-name="'{{ course_data.name }}'"
        :course-id="{{ course_data.id }}"
        :user-average-score=" {{ course_specific_user_data.average_score }}"
        :user-last-score="{{ course_specific_user_data.last_score }}"
        :user-id="{{ global_user_data.id }}"
        :last-scores="{{ course_specific_user_data.last_scores }}"
        ></course-dashboard>
    </div>
    
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'vue_app_course_dashboard' %}

{% endblock content %}