{% extends 'elearningapp/base.html' %}
{% block header_title %} eLearning <span class="title-muted">Control Panel</span>{% endblock header_title %}
{% block content %}
    {% load render_bundle from webpack_loader %}
    <div id="app">
        <course-cp
        :course-name="'{{ course.name }}'"
        :course-id="{{ course.id }}"
        :average-score=" {{ average_score }}"
        :number-of-subscribers="{{ number_of_subscribers }}"
        :number-of-tests-taken="{{ number_of_tests_taken }}"
        :hardest-questions="{{ hardest_questions }}"
        :last-actions="{{ last_actions }}"
        :api-users-url="'{% url 'get_course_users' course_id=course.id %}'"
        :update-permission-api-url="'{% url 'update_course_permissions' course_id=course.id %}'"
        ></course-cp>
    </div>
    
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'vue_app_course_cp' %}

{% endblock content %}