{% extends 'elearningapp/base.html' %}
{% block title %}Modifica domande{% endblock title %}
{% block header_title %} eLearning <span class="title-muted cp-text">Control Panel</span>{% endblock header_title %}
{% block navbarlinks %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'course_cp' course_id=course_id%}">Torna al pannello di controllo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'view_course' course_id=course_id%}">Vai al corso</a>
    </li>
{% endblock navbarlinks %}
{% block content %}
{% load render_bundle from webpack_loader %}
<h1>Modifica domande</h1>
<div id="app">
    <edit-question
    :questions="{{ questions }}"
    :course-id="{{ course_id }}"
    :categories="{{ categories }}"
    :edit-question-api-url="'{% url 'edit_question' course_id=course_id %}'"
    :get-questions-api-url="'{% url 'get_questions' course_id=course_id %}'"
    {% if editing_id %}
        :open-editor={{editing_id}}
    {%endif%}
    ></edit-question>
</div>

{% render_bundle 'chunk-vendors' %}
{% render_bundle 'vue_app_edit_question' %}
{% endblock content %}

{% block footer_javascript_section %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
{% endblock footer_javascript_section %}
