{% extends 'elearningapp/base.html' %}
{% block title %}Cronologia dei test{% endblock title %}
{% block navbarlinks %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'view_course' course_id=course_id%}">Torna al corso</a>
    </li>
{% endblock navbarlinks %}
{% block content %}
    {% load render_bundle from webpack_loader %}
    <h2>Cronologia dei test</h2>
    <!-- <p>Le domande presenti in questa pagina non ricompariranno nei prossimi test che effettuerai.</p> -->
    <div id="app">
        <test-history 
        :tests="{{ tests }}"
        :max-score="{{ maxScore }}"
        :send-report-api-url="'{% url 'report_question' %}'"
        :get-taken-tests-api-url="'{% url 'get_taken_tests' course_id=course_id amount=3%}'"
        ></test-history>
    </div>
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'vue_app_test_history' %}
{% endblock content %}

{% block footer_javascript_section %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
{% endblock footer_javascript_section %}
