{% extends 'user-base.html' %}

{% block title %}Crea un account{% endblock %}

{% block content %}
<div class="login-backdrop"></div>

<div class="login-box mt-3">
    <!-- <div class="mb-4"><h1 class="text-center">Crea un account</h1></div> -->
    <div class="mb-4"><h2 class="text-center">Registrati <span class="mx-2">|</span> <a href="{% url 'login' %}">Login</a></h2></div>
    {% if teacher %}
        <p class="text-muted">Stai effettuando la registrazione come insegnante.</p>
    {% endif %}
    <form class="login-form" method="post" action="
    {% if teacher %}
        {% url 'teacher_signup' %}
    {% else %}
        {% url 'signup' %}
    {% endif %}
    ">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username }}
            {% if form.username.errors %}
                <p class="form-error-text">{{form.username.errors}}</p>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <p class="form-error-text">{{form.first_name.errors}}</p>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <p class="form-error-text">{{form.last_name.errors}}</p>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.email }}
            {% if form.email.errors %}
                <p class="form-error-text">{{form.email.errors}}</p>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="form-error-text">{{form.password1.errors}}</div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password2 }}
            {% if form.password2.errors %}
                <p class="form-error-text">{{form.password2.errors}}</p>
            {% endif %}
        </div>

        <div class="form-group login-button-container">
            <input type="submit" class="btn btn-primary" value="Registrati" />
        </div>
        <!-- <div class="form-group">
            <input type="hidden" name="next" value="{{ next }}">
        </div> -->
       <!--<div class="password-forgotten-container mt-4 pt-4">
            <p><a class="password-forgotten" href="{% url 'login' %}">Hai già un account? Entra</a></p>
        </div>-->
        </form>

</div>

{% endblock %}