@import "../../elearningapp/static/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: -1;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-box {
    padding: 2rem 5rem;
    border: none;
    box-shadow: 0 10px 20px $secondary;
    border-radius: 1.5rem;
    margin: 0 auto;
    width: 50%;
    height: 30%;
    background: $background;
}

.login-box-lg {
    width: 80%;
}

.form-group,
.password-forgotten-container {
    width: 100%;
}

.login-button-container {
    width: 60% !important;
}

.login-form input[type=text],
.login-form input[type=password] {
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    background: $light !important;
    width: 100%;
}

.login-form input[type=submit] {
    width: 100%;
}

.password-forgotten-container {
    position: relative;
    text-align: center;
}

.password-forgotten-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    border-top: 1px solid $gray;
}

.profile-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
}

.profile-header {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: .5rem;
    position: relative;
    column-gap: 5rem;
    font-family: $serif-font;
    font-weight: 800;
}

.profile-header:after {
    content: "";
    border-top: 1px solid rgb(211, 211, 211);
    box-shadow: 0 0 5px $light;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.profile-attribute-list {
    list-style: none;
}

.profile-attribute-list li {
    margin-bottom: 1rem;
}

.profile-attribute-list .list-item-title {
    font-weight: bold;
    margin-right: .5rem;
}

.course-item-flexbox,
.flex {
    display: flex;
    justify-content: space-between;
}

.course-item-flexbox div:first-of-type {
    width: 60%;
}

.course-item-flexbox div:nth-of-type(2) {
    width: 40%;
    justify-content: flex-end;
}

.inline-block {
    display: inline-block;
}

.displayed-input {
    width: 50%;
    padding: 2px;
}

.locked {
    position: relative;
}

.locked:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    opacity: .6;
    content: "\f023";
    position: absolute;
    right: 6px;
    top: -2px;
}

.password-change-form {
    width: 100%;
}

.password-change-form input[type=password] {
    width: 100%;
    padding: .25rem;
}

.profile-header-mobile {
    display: none;
}

.desktop {
    display: unset;
}

// iPhone 6, 6S, 7, 8 portrait
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .login-box {
        padding: 2rem 2rem;
        width: 95%;
        height: 40%;
    }

    .profile-col {
        grid-column: 1 / span 2;
    }

    .profile-header {
        display: none;
    }

    .profile-header-mobile {
        display: block;
        padding-bottom: .5rem;
        position: relative;
        column-gap: 5rem;
        font-family: $serif-font;
        font-weight: 800;
    }

    .profile-header-mobile:after {
        content: "";
        border-top: 1px solid rgb(211, 211, 211);
        box-shadow: 0 0 5px $light;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .desktop {
        display: none;
    }
}